@import url("./_reset.css");
@import url("./_variables.css");
@import url("./common.css");


.main-grid { 
    display: grid;
    margin-top: 1vh;
    margin-bottom: 5vh;
    margin-left: 10vw;
    margin-right: 10vw;
    grid-gap: 0.5vw;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "checkoutSuccess checkoutSuccess checkoutSuccess checkoutSuccess checkoutSuccess checkoutSuccess";

}

.checkoutSuccess     { grid-area: checkoutSuccess}


.checkoutSuccess {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.continueShoppingBtn {
    background-color: #0A3641;
    color: white;
    height: 40px;
    width: 400px;
    border: none;
    cursor: pointer;    
    font-family: "Monda";
    font-size: 1.125rem;
}

 