@import url("./_reset.css");
@import url("./_variables.css");
@import url("./common.css");

.main-grid { 
    display: grid;
    margin-left: 10vw;
    margin-right: 10vw;
    grid-gap: 0.5vw;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50vh 40vh 10vh 60vh auto;
    grid-template-areas: 
    "orderSummary orderSummary orderSummary orderSummary orderSummary orderSummary "
    "billingAddress billingAddress billingAddress deliveryAddress deliveryAddress deliveryAddress"
    "shippingMethod shippingMethod shippingMethod shippingMethod-2 shippingMethod-2 shippingMethod-2"
    "payment payment payment billingSummary billingSummary billingSummary";

}

.orderSummary     { grid-area: orderSummary}
.billingAddress   { grid-area: billingAddress}  
.deliveryAddress  { grid-area: deliveryAddress}  
.shippingMethod   { grid-area: shippingMethod}
.shippingMethod-2  { grid-area: shippingMethod-2}
.payment          { grid-area: payment}  
.billingSummary   { grid-area: billingSummary} 



.SectionHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0A3641;
    height: 3.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-summary-row-col-5 {
    margin-right: 1rem;
}

.order-summary-row-col-1 {
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h6 {
    color:white;
}


.attr-row{
    display: flex;
    align-items: center;
}



.place-order-btn {
    align-self: flex-start; 
    margin-top: auto;
    margin-bottom: 5vh;
    background-color: #0A3641;
    color: white;
    height: 40px;
    width: 248px;
    border: none;
    cursor: pointer;    
}



.firstnameStyling,
.lastnameStyling,
.emailStyling {
    display: flex;
    align-items: center;
    margin: 1vh 0;
    margin-right: 1rem;
    padding: 2vh;
    width: 100%;
    height: 3.5rem;
}

.countryOption {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
    
}

.countryOption .p {
    margin-right: 1vw; 
    flex-shrink: 0;
}

.countryOption select {
    display: flex;
    align-items: center;
    margin: 15px 0;
    margin-right: 1rem;
    padding-left: 1rem;
    width: 100%;
    height: 3.5rem;
}

.addressOption {
    display: flex;
    align-items: center;
    border: 1px solid black;
    margin: 1rem 1rem 0 1rem;
    padding: 2vh;
    height: 3.5rem;
}

.addressOption:not(:last-child) {
    margin-bottom: 15px;
}

.burh {
    display: flex;
    margin-top: 1.5rem;
}

.hidden-radio {
    display: none;
  }
  
.custom-radio {
height: 12px;
width: 12px;
border: 1px solid #0A3641;
border-radius: 50%;
display: inline-block;
margin-right: 10px;
position: relative;
}

.custom-radio::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #0A3641;
border-radius: 50%;
transform: scale(0);
transition: transform 0.2s ease;
}

.hidden-radio:checked + .custom-radio::before {
transform: scale(1);
}



.shippingOption {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 1rem;
}

.shippingOption .p {
    margin-right: 1vw; 
    flex-shrink: 0;
}

.shippingOption select {
    display: flex;
    align-items: center;
    margin: 15px 0;
    margin-right: 1rem;
    padding-left: 1rem;
    width: 100%;
    height: 3.5rem;
}


.payment {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 2.5rem;
}

.payment-methods {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0vh;
    margin-left: 5vh;
    margin-right: 5vh;
}


.payment-methods img{
    transform: scale(1.5);
    cursor: pointer;
    margin-top: 1vh;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.inputField-container {
    display: flex;
    align-items: center;
}

.inputField-container label {
    width:20%;
    margin-right: 0;
    margin-left: 1rem;
    flex-shrink: 0;
}

::placeholder {
    color: black;
    font-family: "Armata";
    font-size: 1rem;
}

.cardNumberStyling{
    display: flex;
    align-items: center;
    margin: 1vh 0;
    margin-right: 1rem;
    padding: 2vh;
    width: 100%;
    height: 3.5rem;
}

.cardExpiryStyling {
    display: flex;
    align-items: center;
    margin: 1vh 0;
    margin-right: 10px;
    padding: 2vh;
    width: 15%;
    height: 3.5rem;
}

.cardSecCodeStyling {
    display: flex;
    align-items: center;
    margin: 1vh 0;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 2vh;
    width: 15%;
    height: 3.5rem;
}

input {
    font-family: "Armata";
    font-size: 1rem;   
    color: black;       
    padding: 8px 12px; 
    border: 1px solid black;
}

.termsAgreeText{
    margin-bottom: 20px;
    margin-left: 1rem;
    margin-right: 1rem;
}





.billingSummary {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 2.5rem;
}


.applyVoucherBtn {
    background-color: #0A3641;
    color: white;
    height: 3.5rem;
    width: 25%;
    border: none;
    cursor: pointer;    
}


.voucher-container {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    margin-left: 1rem;
}

.voucherStyling {
        display: flex;
        align-items: center;
        margin: 1vh 0;
        margin-right: 10px;
        padding: 2vh;
        width: 100%;
        height: 3.5rem;
        border: 1px solid black;
}

.voucherStyling::placeholder {
    opacity: 50%;
}

.order-calculation-container {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    width: 100%;
}

.calculation-row {
    display: flex;
    justify-content: space-between;
    margin-top: 0rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
}


.calc-label.p3,
.calc-value.p3 {
    margin-top: 8rem;
}