@import url("./_variables.css");
@import url("./mobileFooter.css");


/* base settings */

input:focus, 
textarea:focus, 
select:focus, 
button:focus {
outline: none;
}

input {
  font-family: var(--font-primary);
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: black;
  margin: 0;
  line-height: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  padding: 0;
  margin: 0;
}

.underlined-text {
  text-decoration: underline;
}

/* misc */
.separatorLine{
  border-bottom: 1px solid black; 
  margin-bottom: 10px; 
  margin-top: 10px;
}


/* header */

.header-collection {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 125px;
    display: flex;
    flex-direction: column;
  }
  
.promo-banner {
  width: 100%;
  height: 32px;
  background-color: #0A3641;
  display:flex;
  justify-content: center;
  align-items: center;
}

.promo-banner a{
  text-decoration: none;
  color:white;
  font-family: "Armata";
  font-size: 0.9rem;
}

.header-main-nav {
  width: calc(100% - 6vw);
  height: 93px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 3vw;
  margin-right: 3vw;
  padding-top: 1rem;
  z-index: 1;
}

.header-nav-left {
  flex: 5;
  height:93px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-nav-left a {
  font-family: "Monda";
  font-size: 1.375rem;
  text-decoration: none; 
  color: #0A3641; 
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: -0.12em;
}

.header-logo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px 0 50px;
}

#header-logo-img {
  width: 130px;
  height: auto;  
}

.header-nav-right {
  flex: 5;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 70px;
  height: 93px;
}

.header-nav-right a {
  font-family: "Monda";
  font-size: 1.375rem;
  text-decoration: none; 
  color: #0A3641; 
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: -0.36em;
}

.icon {
  width: 25px;
  height: 25px;
  margin-right: 5px;  
}

.header-search-input {
  background: none;
  border: none;
  outline: none;
  width: 150px;
  color: #0A3641;
  font-size: 1.375rem;
}

.header-search-input::placeholder {
  font-family: "Monda";
  font-size: 1.375rem;
  color: #0A3641;
}

.search-link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0; 
  width: calc(100% + 30px); 
  height: 1px; 
  background-color: #0A3641; 
}

.nav-link {
  position: relative;
  white-space: nowrap;
}

/* header end */


/* footer */


.footer{
	background-color: #0A3641;
  height: 288px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-shrink: 0;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 3vw;
  margin-right: 3vw;
  height: 288px;
  width: 100%;
}


.footer-left-container {
  display: flex;
  align-items: flex-start;
  flex: 1;
  margin-left: 0;
}

.footer-logo {
  height: 150px;
}

.footer-center-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 5vw;
  height: 150px;
  margin-left: 2rem;
  margin-right: 2rem;
}


.footer-right-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex: 1;
  height: 150px;
}


.footer-column-4 ul {
  display: flex;
  justify-content: space-between; 
  gap: 10px;
}

.footer-titles {
  position: relative;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 1rem;
  font-family: "Monda";
  font-weight: bold;
  margin-bottom: 2rem;

}

.footer-bodytext {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: "Armata";
  color: white;
  white-space: nowrap;

}

.footer-bodytext a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.currency-box {
  position: relative;
  border: 1px solid white;
  color: white;
  display: flex;
  justify-content: space-between;  
  align-items: center;  
  width: 150px;  
  height: 30px; 
  margin-top: 10px;
}

.currency-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  font-family: "Armata";
  font-size: 1rem;
  line-height: 1.5rem; 
}


.currency-arrow {
  position: absolute;
  right: 0px; 
  top: 50%; 
  transform: translateY(-50%); 
  width: 36px;
  height: 36px;
}

.currency-dropdown-content {
  display: none;
  position: absolute;
  background-color: #0A3641;
  border: solid white 1px;
  min-width: 150px;
  z-index: 1;
  top: 100%;
  left: 0;
}

.currency-dropdown-content a {
  color: white;
  padding: 12px;
  text-decoration: none;
  display: block;
}

.currency-box:hover .currency-dropdown-content {
  display: block;
}

/* footer end */


/* Hamburger overlay */

.hamburger-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 30rem;
  height: 100%;
  background-color: white;
  z-index: 1000;
  visibility: hidden; 
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
}

.overlay-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  
}

.hamburger-overlay:target {
  visibility: visible;
  opacity: 1;
}

.overlayOptionsContainer {
  flex-direction: column;
  height: 100%;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-container input[type="text"] {
  background-image: url(assets/project_images/Icons/search-line-black.svg); /* magnifying glass icon */
  background-position: 10px center;
  background-repeat: no-repeat;
  width: 75%;
  height: 40px;
  padding: 510px;
  border: 1px solid black;
  box-sizing: border-box;
  text-align: center;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}

.menu-item::after {
  content: "";
  display: inline-block;
  width: 24px;  
  height: 24px;  
  background-image: url(/assets/project_images/Icons/arrow-right-line-full-opacity.svg);  
  background-size: contain;
  background-repeat: no-repeat;
}

.overlayTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary);
  margin-bottom: 10px;
}

.overlayLogoContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.overlayLogo {
  width: 50%;
}

.overlay-close-btn {
  padding-top: 10px;
  margin-left: 1rem;
  color: black;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}

.cart-counter-container {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  margin-top: 1rem;
}

.cart-icon {
  width: 24px;
  height: auto;
}

.cart-counter {
  font-family: "Monda";
  font-size: 1.275rem;
}

/* Hamburger overlay end*/

/* Shopping cart overlay */

.cart-overlay::-webkit-scrollbar { /* scrollbar not visible on overlay */
  display: none;
}

.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: auto;
  height: 100%;
  background-color: white;
  z-index: 1000;
  visibility: hidden; 
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none; 
}

.cart-overlay-content {
  display: flex;
  flex-direction: column;
}

.cart-overlay:target {
  visibility: visible;
  opacity: 1;
}

.cart-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-right: 2rem;
}

.continue-shopping {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  margin-top: 350px;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 100%;
}

.checkoutButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
  background-color: #0A3641;
  color: white;
  border: none;
  cursor: pointer;
  font-family: "Monda";
  font-size: 1.375rem;
  width: 100%;
  height: 80px;
}

.cart-total-cont {
  margin-right: 2rem;
  margin-left: 0.1rem;
}

.completeYourKit {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.overlayProductsGrid {
  display: grid;
  margin-top: 1vh;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1vh;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr auto; 
  grid-template-areas: 
  "overlaycontent1 overlaycontent2"
  "overlaycontent3 overlaycontent4"
  "overlaycontent5 overlaycontent6";
}

#overlaycontent1 {grid-area:overlaycontent1;}
#overlaycontent2 {grid-area:overlaycontent2;}
#overlaycontent3 {grid-area:overlaycontent3;}
#overlaycontent4 {grid-area:overlaycontent4;}
#overlaycontent5 {grid-area:overlaycontent5;}
#overlaycontent6 {grid-area:overlaycontent6;}


.overlayProductsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.overlay-products-image-frame {
  position: relative;
    background: linear-gradient(180deg, #B8CBD8 0%, transparent 200%);
    width: 100%;
    padding-bottom: 141.94%; /* aspect ratio maint. calc. | There's probably an easier way of doing this, but i ran out of time and this worked somewhat */
  }

.overlay-products-image-frame img {
  position: absolute;
  width: 100%;  
  height: 100%;  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: contain;
}

.overlay-products-text-frame {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin-top: 0.9rem;
  margin-right: 1rem;
  margin-left: 1rem;
  gap: 10px;
  width: 100%;
  line-height: 1;
}


.add-to-cart-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #0A3641;
  color: white;
  border: none;
  cursor: pointer;
  font-family: "Monda";
  font-size: 1.125rem;
  width: 100%;
  height: 40px;
}

.cart-total {
  font-family: "Monda";
  font-size: 1.375rem;
}

.no-items-added {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;

}

/* Shopping cart overlay end */


/* Stock status */

.out-of-stock {
  opacity: 0.5;
  pointer-events: none; 
  cursor: not-allowed; 
}


/* Dropdown input fields */

select { /* custom dropdown arrow */
  appearance: none; /* removes standard arrow*/
  font-family: 'Armata';
  font-size: 1rem;
  border-radius: 0;  
  border: 1px solid black; 
  background-image: url('/assets/project_images/Icons/arrow-drop-down-fill.svg'); /* svg from my design */
  background-position: 98% center;
  background-repeat: no-repeat;
  background-size: 32px 32px;
}

select:focus {
  outline: none;
}

/* Dropdown input fields end */


/*Product frames */

.content-big-shared-attributes,
.content-big-shared-attributes-white { 
  background-color: #0A3641;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%; 
}

.content-big-shared-attributes-white { 
  background-color: white;
  border: 2px dashed #0A3641;
}

.content-small-shared-attributes {    
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  }

.image-frame {
  width: 100%; 
  padding-bottom: 141.94%; /* aspect ratio maint. calc. | There's probably an easier way of doing this, but i ran out of time and this worked somewhat */
  position: relative;
  background: linear-gradient(180deg, #B8CBD8 0%, transparent 200%);
}

.image-frame img {
  position: absolute;
  width: 70%;  
  height: 70%;  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: contain;
}

.image-frame a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75%;
  width: 100%;
}

.text-frame {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  gap: 20px;
}

/*Product frames end */


/* MEDIA QUERIES COMMON */

.hide-on-high-res {
  display: none;
}


/* Footer -> Mobile Footer */

#mobile-footer {
  display: none;
}

@media (max-width: 1260px) {
  #desktop-footer {
    display: none
  }
  #mobile-footer {
    display: block;
  }
}

@media (max-width: 412px) { /* makes icons dynamic at point where they don't have space to contract */
 

  .socialmediaIcons {
    width: 5vw;
    height: auto;
  }

  .appIcons {
    width: 25vw;
    height: auto;
  }
}


/* Header -> Mobile Header */

@media (max-width: 1593px) {
  .hide-on-small-res {
    display: none !important;
  }
}



@media (max-width: 865px) {
  .hide-on-865px {        
    display: none !important;
  }
  .hide-on-high-res {
    display: block;
  }

}

@media (max-width: 643px) {

/* Hamburger overlay queries */

  .hamburger-overlay {
    width: 100%;
}



/* Shopping cart overlay queries */

.cart-overlay {
    width: 100%;
}
}


@media (max-width: 538px) {

.header-collection {
  margin-top: 44px;     /* Top margin for battery icon on mobile devices and such - Ref: googled most common head-margins for phones. */ 
}

.hide-on-mobile-res {        /* Hidden elements as resolution decreases */
  display: none !important;
}
.show-on-mobile-res {
  display: block;
}


/* Hamburger overlay structure */

.hamburger-overlay {
    padding-top: 44px;
}


/* Shopping cart overlay queries */

.cart-overlay {
  padding-top: 44px;
}

.completeYourKit {
  margin-bottom: 0rem;
}

.overlayProductsGrid { /* Shopping cart overlay grid for quick-add-products */
    display: grid;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr auto; 
    grid-template-areas: 
    "overlaycontent1 overlaycontent2"
    "overlaycontent3 overlaycontent4"
    "overlaycontent5 overlaycontent6";
  }


}


@media (max-width:393px) {

  /* Shopping cart overlay queries */

   
    .overlay-products-text-frame .p2 {
      font-size: 1rem;
    }  

    .add-to-cart-button {
      font-size: 0.9rem;
    }

    .overlay-products-text-frame h4 {
      font-size: 1.3rem;
    }
}   

@media (max-width: 360px) {


    .header-collection { /* Top margin for battery icon on mobile devices and such - Ref: googled most common head-margins for phones. */ 
      margin-top: 24px;
    }

/* Shopping cart overlay queries */

 .overlayProductsGrid { /* Shopping cart overlay grid for quick-add-products */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr auto; 
  grid-template-areas: 
  "overlaycontent1"
  "overlaycontent2"
  "overlaycontent3"
  "overlaycontent4"
  "overlaycontent5" 
  "overlaycontent6";
}


}


/* sticky footer */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}