@import url("./_reset.css");
@import url("./_variables.css");
@import url("./common.css");


.main-grid { 
    background-color: red;
    display: grid;
    margin-top: 1vh;
    margin-bottom: 5vh;
    margin-left: 10vw;
    margin-right: 10vw;

    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3vw;
    grid-template-rows: 10vh 60vh;
    grid-template-areas: 
        "title title title"
        "customer-service contact-form store-info"

}

.title { grid-area: title }
.customer-service     { grid-area: customer-service }
.contact-form    { grid-area: contact-form }
.store-info    { grid-area: store-info }



.title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
}

.customer-service {
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.contact-form {
    background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;

}

.contact-form .input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
}

.contact-form label {
    margin-bottom: 0.3rem;
}

.contact-form input[type="email"],
.contact-form input[type="text"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

.contact-form .checkbox-group {
    display: flex;
    align-items: center;
}

.contact-form .checkbox-group input {
    margin-right: 10px;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #555;
}


.store-info {
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}


