@import url("./_reset.css");
@import url("./_variables.css");
@import url("./common.css");


.landing-section {
    background-image: url('../../assets/project_images/Hero_image/hero.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 100vh; 
}

.hero-text {
  font-family: "Monda";
  font-size: 3.5vw;
  color: #0A3641; 
  z-index: 1;
  height: auto;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.shop-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1vh;
  gap: 0.5em;
}


.shop-button {
  border: 2px solid #0A3641; 
  border-radius: 0.5vw; 
  background-color: transparent; 
  color: #0A3641; 
  padding: 0.8vw 1.5vw; 
  cursor: pointer; 
  font-family: "Monda"; 
  font-size: 1vw;
}

.shop-button:hover {
  background-color: #0A3641; 
  color: #FFFFFF; 
}


.main-grid {
  display: grid;
  margin-top: 1vh;
  margin-left: 3vw;
  margin-right: 3vw;
  grid-gap: 0.5vw;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 70vh auto auto; 
  grid-template-areas: 
  "content1 content2 content3 content4"
  "content5 content5 content6 content6"
  "content7 content7 content8 content8"
  "content9 content10 content11 content12";
}


#content1  { grid-area: content1;  }
#content2  { grid-area: content2;  }
#content3  { grid-area: content3;  }
#content4  { grid-area: content4;  }
#content5  { grid-area: content5;  }
#content6  { grid-area: content6;  }
#content7  { grid-area: content7;  }
#content8  { grid-area: content8;  }
#content9  { grid-area: content9;  }
#content10 { grid-area: content10; }
#content11 { grid-area: content11; }
#content12 { grid-area: content12; }


/*product images*/

.product-title-container {
  flex: 1;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

.product-description-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

.product-price-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.large-image-container {
  width: 100%; 
  padding-bottom: 100%; /* to maintain aspect ratio */
  position: relative;

}

.large-image-container img {
  position: absolute;
  width: 70%;  
  height: 70%;  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: contain;
}



.urban-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.outlet {
  max-width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 50px;
}

.outlet-title-container,
.outlet-bodytext-container,
.outlet-40-button-container{
  text-align: center;
}


.phase-out-button {
  border: 2px dashed white; 
  border-radius: 0.5rem; 
  background-color: transparent; 
  color: white; 
  padding: 20px 20px; 
  cursor: pointer; 
  font-family: "Monda"; 
  font-size: 1.5625rem;
  margin-bottom: 2rem;
}

.phase-out-button:hover {
  background-color: white; 
  color: #0A3641; 
}

.newsletter-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.newsletter-title{
  color: white;
  text-align: center;
}

.newsletter-lower-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 80%;
  gap: 3rem;
  margin-top: 1rem;
}

.terms-agree-container {
  width:100%;
  display: flex;
  justify-content: center;
}

.terms-checkbox {
  margin-right: 1rem;
}

.email-input {
  width: 100%;
  height: 3.5rem;
  box-sizing: border-box;
  border: 1px solid white;
  background-color: #0A3641;
  border-radius: 4px;
  text-align: center;
  font-family: "Monda";
  font-size: 1.125rem;
  color: white;
}

.email-input::placeholder {
  color: white;
  font-family: "Monda";
  font-size: 1.125rem;  
}

.email-input:focus {
  outline: none;
  border: 1px solid white;
  color: white;
}

.sign-up-newsletter-button {
  width: 100%;
  height: 3.5rem;
  box-sizing: border-box;
  border: 1px solid white;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  cursor: pointer; 
  font-family: "Monda";
  font-size: 1.125rem;
  color: black;
}

.sign-up-newsletter-button:hover {
  background-color: #0A3641; 
  color: white; 
}


.community-feedback-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.comm-feedback-title {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.community-feedback-lower-block {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 80%;
  margin-top: 3rem;
}

.comm-feedback-col-1, .comm-feedback-col-2, .comm-feedback-col-3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1;
  gap: 3rem;
}


.review-product {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}


/*misc*/

::placeholder {
  color: black;
  font-family: "Monda";
  font-size: 1.125rem;
}


ul li a {
  color: white;
}

.hidden {
  display:none;
}

/*media query for customer review blocks that are hidden at certain resolutions*/


@media (min-width: 2500px) {
  .hidden {
    display: flex;
  }
}

