@import url("./_reset.css");
@import url("./_variables.css");
@import url("./common.css");




.main-grid { 
    display: grid;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-left: 3vw;
    margin-right: 3vw;
    grid-gap: 0.5vw;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 70vh 10vh 60vh auto;
    grid-template-areas: 
    "bigImage bigImage bigImage productText productText productText"
    "horizontalText horizontalText horizontalText horizontalText horizontalText horizontalText"
    "product1 product2 product3 product4 product5 product6";
  }


/*breadcrumb components*/

.breadcrumb {
    display: flex;
    align-items: center;
    position: absolute;
    top: 1vh;
    left: 1vh;
    opacity: 25%;
}

.breadcrumb a {
    font-size: 1.2rem; 
}

.breadcrumb-icon {
    vertical-align: center;
    color: black;
    height: 1.2rem;
}

/* product photo navigation */

.image-arrows-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 10px; 
    left: 0;
}

.arrow-left, .arrow-right {
    padding-left: 1vh;
    padding-right: 1vh;
    cursor: pointer;
    height: 1.5rem;
}

/* size and color selection */

.color-section {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}

.color-options {
    display: flex;
    gap: 75px;
    padding-left: 350px;
}



.size-section {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}


.size-options {
    display: flex;
    gap: 100px;
    padding-left: 350px;
}

.size-options span, .color-options span {
    cursor: pointer;
    text-decoration: none;
    position: relative;
}

.size-options span:hover::after, 
.size-options span.selected::after,
.color-options span:hover::after, 
.color-options span.selected::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -2px; 
      height: 1px; 
      background-color: black; 
}

.select-size-button {
    margin-top: 1vh;
    margin-bottom: 1vh;
    background-color: #0A3641;
    color: white;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}

/* DETAILS AND SIZE CHART */

.details {
    margin-top: 10px;
}

.list-and-sizing-parent-container {
    display: flex;
    width: 100%;
}

.list-container{
    display: flex;
    width: 50%;
}



.sizing-info-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 50%;
}

.sizing-info {
    font-size: 16px;
    font-family: "Monda";
}


/*complete your kit*/

.horizontalText {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 25%;
}

/*grid areas*/


.bigImageContainer {
grid-area: bigImage;
position: relative;
height: 100%;
padding-top: 50px;
background: linear-gradient(180deg, #B8CBD8 0%, transparent 200%);
}


.product-big-img {
    max-width: 50%;
    max-height: 50%;
}

.kgkg {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productText {
    grid-area: productText;
}

.horizontalText {
    grid-area: horizontalText;
}

.product1 { grid-area: product1; background-color: #FFD54F; } 
.product2 { grid-area: product2; background-color: #BA68C8; }  
.product3 { grid-area: product3; background-color: #4FC3F7; }  
.product4 { grid-area: product4; background-color: #FFA726; }  
.product5 { grid-area: product5; background-color: #A1887F; }  
.product6 { grid-area: product6; background-color: #90A4AE; }  




