@import url("./_reset.css");
@import url("./_variables.css");
@import url("./common.css");



.main-grid { 
    display: grid;
    padding-top: 1rem;
    padding-bottom: 0.5rem; /*specific to this page because of line height rule below*/
    margin-left: 3vw;
    margin-right: 3vw;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "content1 content2 content3 content4 content5 content6"
    "content7 content8 content9 imagePerson imagePerson imagePerson"
    "imageClouds imageClouds imageClouds content10 content11 content12"
    "content13 content14 content15 content16 content17 content18";
  }

  #imagePerson {grid-area: imagePerson}
  #imageClouds {grid-area: imageClouds}
  #content1 { grid-area: content1; }
  #content2 { grid-area: content2; }
  #content3 { grid-area: content3; }
  #content4 { grid-area: content4; }
  #content5 { grid-area: content5; }
  #content6 { grid-area: content6; }
  #content7 { grid-area: content7; }
  #content8 { grid-area: content8; }
  #content9 { grid-area: content9; }
  #content10 { grid-area: content10; }
  #content11 { grid-area: content11; }
  #content12 { grid-area: content12; }
  #content13 { grid-area: content13; }
  #content14 { grid-area: content14; }
  #content15 { grid-area: content15; }
  #content16 { grid-area: content16; }
  #content17 { grid-area: content17; }
  #content18 { grid-area: content18; }

.pageTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
}

/*FILTERS*/  

.filter-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 3vw;
  margin-right: 3vw;
  margin-top: 1.5vh;
  margin-bottom: 2vh;
}

/*ICONS FOR FILTERS*/

.iconFiltersContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  padding-left: 30vw;
  padding-right: 30vw;
  gap: 20px;
  width: 100%;
}

.iconFiltersContainer p {
  font-family: "Monda";
  font-size: 1rem;
  color: #0A3641;
  margin: 0;
  padding: 0;
}


.icon-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 80px;
}

.icon-container p {
  margin: 0;
  padding: 0;
}

.icon-container img {
  margin-bottom: 1rem; 
  height: 90%;
  width: auto; 
}

/*FILTER BY*/

.filterOverlay {
  position: relative;
  display: flex;
  align-items: center;
  height: 30px;
}

.overlay-filters-content {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 30rem;
  height: 100%;
  background-color: white;
  z-index: 1000;
  transition: opacity 0.3s, visibility 0.3s;
  overflow-y: auto;
}

.overlay-filters-content:target {
  display: block;
}

.overlay-filters-content:not(#separatorLine) {
  padding-left: 1rem;
}

.price-range-currency {
  font-family: "Monda";
  font-size: 1rem;
}
  
.price-container-main {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  margin-left: 5px;
}
  
.price-range-label {
  display: flex;
}
  
.price-range-input {
  width: 100px;
  height: 40px;
  padding: 10px;
  border: 1px solid black;
  font-size: 1rem;
}

.price-range-input:focus {
  border: 1px solid black;
}

.closeFiltersOverlay {
  position: absolute;
  top: 2rem;
  left: 1rem;
  color: black;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}
  

/* SORTING FILTERS */

.dropdown-sort-content {
  display: none; 
  position: absolute; 
  top: 100%; 
  right: 0; 
  width: 200px; 
  background-color: white;
  border: 1px solid none;
  z-index: 10;
}

.dropdown-sort-content:target {
  display: block; 
}

.dropdown-sort-content li a {
  display: block;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 10px;
  text-decoration: none;
  color: black;
}


/*images*/

.large-image-container {
  position: relative;
  height: 100%;
}

.large-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/* Product frame alignment adjustments */

.text-frame h4 {
line-height: 1;
}

/* Hidden */

.pageTitleHidden {
  display: none;
}

/* MEDIA QUERIES */

@media (max-width: 1830px) {
 .p {
  font-size: 0.9rem;
 }

 
}

@media (max-width:1693px) {
  .p {
    font-size: 0.8rem;
   }
}

@media (max-width: 1593px) {

  .main-grid {
    grid-template-columns: repeat(3, 1fr);
    margin-left: 3vw;
    margin-right: 3vw;
    grid-template-areas: 
    "content1 content2 content3"
    "content4 content5 content6"
    "content7 content8 content9"
    "content10 content11 content12"
    "content13 content14 content15"
    "content16 content17 content18"; 
  }

  #imagePerson,
  #imageClouds {
    display: none;
  }
  
  .iconFiltersContainer {
    margin-bottom: -0.5rem;
  }

  .icon-container img {
    margin-bottom: 1rem; 
    width: auto; 
  }

  h1 {
    font-size: 3rem;
  }

  h4 {
    font-size: 1.375rem;
  }
  
   .p {
    font-size: 1rem;
  }

 

}

@media (max-width: 916px) {
  .p {
    font-size: 0.9rem;
  }
}

@media (max-width: 865px) {
  .main-grid {
    grid-template-columns: repeat(2, 1fr); 
    grid-template-areas: 
      "content1 content2"
      "content3 content4"
      "content5 content6"
      "content7 content8"
      "content9 content10"
      "content11 content12"
      "content13 content14"
      "content15 content16"
      "content17 content18";
  }

  h1 {
    font-size: 2.25rem;
  }

  h4:not(#itemsAddedtoCartBlock h4, #overlayProdGrid h4) {
    font-size: 1.125rem;
}


  .iconFiltersContainer {
    padding-left: 18vw;
    padding-right: 18vw;
  }

  .icon-container img {
    height: 60%;
  }

}

@media (max-width: 643px) {
  .overlay-filters-content {
    width: 100%;
}
}

@media (max-width: 538px) {

  .main-grid {
    grid-gap: 0.5rem;
  }

  .iconFiltersContainer {
    padding-left: 10vw;
    padding-right: 10vw;
    margin-top: -1rem;
    margin-bottom: -0.8rem;
  }

  .filter-section {
    margin-bottom: 0;
  }

  h1 {
    font-size: 2.25rem;
  }

  h4:not(#itemsAddedtoCartBlock h4, #overlayProdGrid h4) {
    font-size: 1.125rem;
  }

  .pageTitle {
    display: none;
  }

  .pageTitleHidden {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:3vw;
  }
}


@media (max-width: 413px) {
  .iconFiltersContainer {
    padding-left: 3vw;
    padding-right: 3vw;
  }
}