@import url("./_reset.css");
@import url("./_variables.css");
@import url("./common.css");



.main-grid { 
    display: grid;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-left: 3vw;
    margin-right: 3vw;
    grid-gap: 0.5vw;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 60vh 60vh 60vh 60vh;
    grid-template-areas: 
    "content1 content2 content3 content4 content5 content6"
    "content7 content8 content9 imagePerson imagePerson imagePerson"
    "imageClouds imageClouds imageClouds content10 content11 content12"
    "content13 content14 content15 content16 content17 content18";
  }

  #imagePerson {grid-area: imagePerson}
  #imageClouds {grid-area: imageClouds}
  #content1 { grid-area: content1; }
  #content2 { grid-area: content2; }
  #content3 { grid-area: content3; }
  #content4 { grid-area: content4; }
  #content5 { grid-area: content5; }
  #content6 { grid-area: content6; }
  #content7 { grid-area: content7; }
  #content8 { grid-area: content8; }
  #content9 { grid-area: content9; }
  #content10 { grid-area: content10; }
  #content11 { grid-area: content11; }
  #content12 { grid-area: content12; }
  #content13 { grid-area: content13; }
  #content14 { grid-area: content14; }
  #content15 { grid-area: content15; }
  #content16 { grid-area: content16; }
  #content17 { grid-area: content17; }
  #content18 { grid-area: content18; }

  

.filtersContainer {
  display: flex;
  justify-content: space-between;
  margin-left: 40vw;
  margin-right: 40vw;
  margin-top: 1rem;
  
}

.filtersContainer p {
  font-family: "Monda";
  font-size: 1rem;
  color: #0A3641;
  margin: 0;
  padding: 0;
}

.pageTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
}



.filter-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 3vw;
  margin-right: 3vw;
  margin-top: 1.5vh;
  margin-bottom: 2vh;
}


.filterDropDown {
  display: flex;
  align-items: center;
  height: 30px;
}


.icon-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 80px;
}

.icon-container p {
  margin: 0;
  padding: 0;
}



.icon-container img {
  margin-bottom: 1rem; 
  height: 100%;
  width: auto; 
}

  
.content-big-shared-attributes { /* check if moveable to commons, lso, rename */
  background-color: #0A3641;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.content-big-shared-attributes-white { /* check if moveable to common, also, rename*/
  background-color: white;
  display: flex;
  border: 0.11vw dashed #0A3641; 
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}


/*product filters*/

.filters-overlay-header {
  display:flex;
  background-color: red;
}






/*large images*/

.large-image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.large-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*small product frames*/

.content-small-shared-attributes {    /* check if moveable to common, also, rename */
  display: flex;
  align-items: center;
  flex-direction: column;
  }

.image-frame {
  display: flex;
  height: 75%;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #B8CBD8 0%, transparent 200%);
}

.image-frame img {
  max-width: 100%;
  max-height: 100%;
  padding: 2vw;  
}


.text-frame {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin-top: 5px;
}



.dropdown-filters-content {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 30rem;
  height: 100%;
  background-color: white;
  z-index: 1000;
  transition: opacity 0.3s, visibility 0.3s;
  overflow-y: auto;
}


.dropdown-filters-content:target {
  display: block;
}
  
.closeFiltersDropdown {
  position: absolute;
  top: 2rem;
  left: 1rem;
  color: black;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}
  

  

.filterDropDown {
  position: relative; 
}

.dropdown-sort-content {
  display: none; 
  position: absolute; 
  top: 100%; 
  right: 0; 
  width: 200px; 
  background-color: white;
  border: 1px solid none;
  z-index: 10;
}

.dropdown-sort-content:target {
  display: block; 
}

.dropdown-sort-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown-sort-content li a {
  display: block;
  margin-top: 30px;
  padding: 10px;
  text-decoration: none;
  color: black;
}


.price-range-currency {
  font-family: "Monda";
  font-size: 1rem;
}
  
.price-container-main {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-left: 5px;
  margin-bottom: 10px;
}
  
.price-range-label {
  display: flex;
}
  

  