/* footer */


.mobileFooterContainer{
	background-color: #0A3641;
  height: 288PX;
  width: 100%;
}




/*misc*/

.separatorLineWhite{
  border-bottom: 1px solid white; 
  margin: 0 1rem 0 1rem;
  padding-top: 30px;
}

/* footer end */