/* footer */


.mobileFooterContainer{
	background-color: #0A3641;
  height: 361PX;
  width: 100%;
}

.shopAboutContainer {
  display: flex;
  justify-content: space-between;
  margin: 1rem 3vw 1rem 3vw;
}

.mobileCompanyLogo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactSupportContainer {
  display: flex;
  justify-content: space-between;
  margin: 1rem 3vw 1rem 3vw;
}

/*misc*/

.separatorLineWhite{
  border-bottom: 1px solid white; 
  margin: 0 3vw 0 3vw;
  padding-top: 30px;
}

/* footer end */