/* footer */


.mobileFooterContainer{
	background-color: #0A3641;
  height: 288PX;
  width: 100%;
}




/*misc*/

.separatorLine{
  border-bottom: 1px solid white; 
  margin-bottom: 10px; 
  margin-top: 10px;
}

/* footer end */