/* footer */


.mobileFooterContainer{
	background-color: #0A3641;
  height: 390PX;
  width: 100%;
}

.mobileFooterMenuItems {
  display: flex;
  justify-content: space-between;
  margin: 1rem 3vw 1rem 3vw;
}

.mobileCompanyLogo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.getApp_and_socialMediaIcons {
  display: flex;
  justify-content: space-between;
  margin: 1rem 3vw 1rem 3vw;
}

.copyrightText {
  display: flex;
  justify-content: center;
}

.clickable-text {
  display: block;  
  text-decoration: none;  
}

/*misc*/

.separatorLineWhite{
  border-bottom: 1px solid white; 
  margin: 0 3vw 0 3vw;
  padding-top: 30px;
}

.separatorLineWhite2{
  border-bottom: 1px solid white; 
  margin: 0 3vw 0 3vw;
}

/* footer end */

a {
  display: block;  /* Make it block level to fill its container */
  margin: 0;       /* Reset margin */
  padding: 0;      /* Reset padding */
  text-decoration: none; /* Remove underline */
  line-height: 0;

}
